[submodule "cev_planner"]
	path = cev_planner
	url = https://github.com/cornellev/cev_planner.git
[submodule "tmp/matplotlib-cpp"]
	path = tmp/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
